code[data-theme],
code[data-theme] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme],
  code[data-theme] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

[data-rehype-pretty-code-figure] {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

[data-rehype-pretty-code-figure] code {
  display: grid;
  min-width: 100%;
  word-break: break-word;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  padding: 0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-line] {
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 1rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  width: 100%;
  display: inline-block;
}

[data-line-numbers] > [data-line]::before {
  color: var(--color-muted-foreground);
  font-size: 0.75rem;
  line-height: 1rem;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  text-align: right;
}

[data-highlighted-line] {
  background-color: rgb(82 82 91 / 0.5);
}

code[data-highlighted-chars] span {
  position: relative;
}

[data-highlighted-chars] {
  border-radius: 0.125rem;
  background-color: rgb(82 82 91 / 0.5);
  color: var(--color-foreground);
  padding: 0.25rem;
}

[data-rehype-pretty-code-title] {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  background-color: var(--color-muted);
  border: 1px solid var(--color-border);
  border-bottom: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

[data-rehype-pretty-code-title] + .group > pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mdx > .steps:first-child > h3:first-child {
  margin-top: 0;
}

.steps > h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}
